<!DOCTYPE html>
<html>
  <head>
    <title>Word Count!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/categories/new" method="post">
      <label for="category-name">Category name</label>
      <input id="category-name" name="category-name" type="text">
      <button type="submit">Add</button>
    </form>
  </body>
</html>
